body {
    background-color: blue;
}
p {
    color: yellow;border-color:gold;border-style: groove;
}
#transform {
    position: relative;
     left: 50%;
    animation: myrotate 3s infinite;


}
@keyframes myrotate{
    50%{transform: rotate(360deg);}
}
#lugter{
    color:blue ; 
animation-name: lugter_af;
animation-duration: 3s infinite;
}
@keyframes lugter_af {
from {color:blue;}
to  {color: yellow;}
}
